<html>
<head>
  <title> Sisfly</title>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
</head>
<body class = "index-body">
  <div class="container">
    <div class="welcome-box">
      <h1 class="logo"> Sisfly.</h1>
      <h3 class= "tagline"> tread thoughtfully</h3>
      <form action = "/cartograph" method= "GET">
        <input id = "starting-input" class="controls" type = "text" name = "starting_street" placeholder = "Departure">
        <input id = "ending-input" class="controls" type = "text" name = "ending_street" placeholder = "Destination"><br><br>
        <input type = "submit" value= "Submit">
        <script type="text/javascript">


        </script>
        <script src="js/index.js"></script>
      </form>
    </div>
  </div>
</body>
</html>
